
<div class="row">
    <div class="column">

        @{
            //string line;
            foreach (var item in ViewBag.del1)
            {
                <p>@item</p>
            }
        }
    </div>
    <div class="column">

        <div class="row" style="height:25%">
            <div class="column" style="width: 70%">
                <img src="@("/img/halem11.jpg")" alt="G.C.Oeder" class="center">
                <br />
                <p>
                    @{
                        //string line;
                        foreach (var item in ViewBag.halem)
                        {
                        <p>@item</p>
                    }
                    }

                    </p>
                </div>
            </div>

        </div>
    </div>
        <div class="row">
            <div class="column">

            </div>
            <div class="column">
                @{
                    //string line;
                    foreach (var item in ViewBag.del2)
                    {
                        <p>@item</p>
                    }
                }

            </div>
        </div>
        <div class="row">
            <div class="column">

                @{
                    //string line;
                    foreach (var item in ViewBag.del3)
                    {
                        <p>@item</p>
                    }
                }
            </div>
            <div class="column">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="row">

                </div>
            </div>
            <div class="column">
                @{
                    //string line;
                    foreach (var item in ViewBag.del4)
                    {
                        <p>@item</p>
                    }
                }

            </div>
        </div>
        <div class="row">
            <div class="column">

                @{
                    //string line;
                    foreach (var item in ViewBag.del5)
                    {
                        <p>@item</p>
                    }
                }
            </div>
            <div class="column">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="row">

                </div>
            </div>
            <div class="column">
                @{
                    //string line;
                    foreach (var item in ViewBag.del6)
                    {
                        <p>@item</p>
                    }
                }

            </div>
        </div>
        <div class="row">
            <div class="column">

                @{
                    //string line;
                    foreach (var item in ViewBag.del7)
                    {
                        <p>@item</p>
                    }
                }
            </div>
            <div class="column" text-align: center>
                <div class="row">
                    <img src="@("/img/oedergrave.jpg")" alt="G.C.Oeder" class="right">
                    <br />
                    <p>


                        Georg Christian Oeders gravsted, <br />Gertrudenkirchhof i Oldenburg.

                    </p>
                </div>
                <div class="row">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">

            </div>
            <div class="column">
                @{
                    //string line;
                    foreach (var item in ViewBag.del8)
                    {
                        <p>@item</p>
                    }
                }

            </div>
        </div>
        <div class="row">
            <div class="column">

                @{
                    //string line;
                    foreach (var item in ViewBag.del9)
                    {
                        <p>@item</p>
                    }
                }
            </div>
            <div class="column">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="row">

                </div>
            </div>
            <div class="column">
                @{
                    //string line;
                    foreach (var item in ViewBag.del10)
                    {
                        <p>@item</p>
                    }
                }

            </div>
        </div>
        <div class="row">
            <div class="column">

                @{
                    //string line;
                    foreach (var item in ViewBag.del11)
                    {
                        <p>@item</p>
                    }
                }
            </div>
            <div class="column">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="row">

                </div>
            </div>
            <div class="column">
                @{
                    //string line;
                    foreach (var item in ViewBag.del12)
                    {
                        <p>@item</p>
                    }
                }

            </div>
        </div>
        <div class="row">
            <div class="column">

                @{
                    //string line;
                    foreach (var item in ViewBag.del13)
                    {
                        <p>@item</p>
                    }
                }
            </div>
            <div class="column">
                <div class="row">

                </div>
            </div>
        </div>
