<div class="row">
    <h2>
        Georg Christian Oeder<br />
        Et liv - med flere end en indsats<br />
        <br />
        Af Ernst Willumsen
    </h2>
</div>

<div class="row">
    <div class="column">

        @{
            //string line;
            foreach (var item in ViewBag.del1)
            {
                <p>@item</p>
            }
        }
    </div>
    <div class="column" text-align: center>
        <div class="row" >
            <div class="column" style="width:90%">
                <img src="@("/img/oedergrave.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                <br />
                <p>
                    Georg Christian Oeders gravsted, <br />Gertrudenkirchhof i Oldenburg.
                </p>
            </div>
        </div>
        <div class="row" >
            <div class="column" style="width: 90%">
                <img src="@("/img/wiedewelt1.png")" alt="G.C.Oeder" class="center" style="width:50%">
                <br />
                <p>
                    @{
                        //string line;
                        foreach (var item in ViewBag.wiede)
                        {
                        <p>@item</p>
                    }
                    }
                    </p>
                </div>
            </div>
            <div class="row" >
                <div class="column" style="width: 90%">
                    <img src="@("/img/oeder1.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                    <br />
                    <p>
                        Georg Christian Oeder
                    </p>
                </div>
            </div>
            <div class="row" >
                <div class="column" style="width: 90%">
                    <img src="@("/img/jhebernstorff.png")" alt="G.C.Oeder" class="center" style="width:50%">
                    <br />
                    <p>
                        @{
                            //string line;
                            foreach (var item in ViewBag.jhe)
                            {
                            <p>@item</p>
                        }
                        }
                        </p>
                    </div>
                </div>

            </div>
        </div>
        
<div class="row">
    <div class="column" text-align: center>
        <div class="row" style="height:33%">
            <div class="column" style="width:90%">
                <img src="@("/img/moltke1.png")" alt="G.C.Oeder" class="center" style="width:70%">
                <br />
                <p>
                    @{
                        //string line;
                        foreach (var item in ViewBag.mol)
                        {
                        <p>@item</p>
                    }
                    }
                    </p>
                    @*<a href="http://www5.kb.dk/e-mat/dod/130020341018.pdf" target="_blank">Link til betænkning på det kongelige bibliotek</a>*@

                </div>
        </div>
        <div class="row" style="height:33%">
            <div class="column" style="width: 90%">
                <img src="@("/img/lodde1.png")" alt="G.C.Oeder" class="center" style="width:70%">
                <br />
                <p>
                    @{
                        //string line;
                        foreach (var item in ViewBag.lod)
                        {
                        <p>@item</p>
                    }
                    }
                    </p>
                </div>
            </div>
            <div class="row" style="height:33%">
                <div class="column" style="width: 90%">
                    <img src="@("/img/betænkning.jpg")" alt="G.C.Oeder" class="center" style="width:70%">
                    <br />
                    <p>
                        @{
                            //string line;
                            foreach (var item in ViewBag.be)
                            {
                            <p>@item</p>
                        }
                        }
                        </p>
                <a href="http://www5.kb.dk/e-mat/dod/130020341018.pdf" target="_blank">Link til betænkning på det kongelige bibliotek</a>

                    </div>
            </div>
            <!--<div class="row" style="height:25%">
                <div class="column" style="width: 70%">-->
                    @*<img src="@("/img/zuslag.png")" alt="G.C.Oeder" class="center">
                    <br />
                    <p>
                        @{
                            //string line;
                            foreach (var item in ViewBag.zu)
                            {
                            <p>@item</p>
                        }
                        }
                        </p>*@
                    <!--</div>
                </div>-->

            </div>
    <div class="column">
        @{
            //string line;
            foreach (var item in ViewBag.del2)
            {
                <p>@item</p>
            }
        }

    </div>
</div>
<div class="row">
    <div class="column">

        @{
            //string line;
            foreach (var item in ViewBag.del3)
            {
                <p>@item</p>
            }
        }
    </div>
    <div class="column" text-align: center>
        <div class="row" style="height:33%">
            <div class="column" style="width: 90%">
                @*<img src="@("/img/zuslag.png")" alt="G.C.Oeder" class="center" style="width:70%">
                    <br />
                    <p>
                        @{
                            //string line;
                            foreach (var item in ViewBag.zu)
                            {
                            <p>@item</p>
                        }
                        }
                        </p>
                        <a href="http://www5.kb.dk/e-mat/dod/130020341018.pdf" target="_blank">Link til betænkning på det kongelige bibliotek</a>*@

            </div>
        </div>

        @*<div class="column" text-align: center>*@
        <div class="row" style="height:33%">
            <div class="column" style="width: 90%">
                <img src="@("/img/zuslag.png")" alt="G.C.Oeder" class="center" style="width:70%">
                <br />
                <p>
                    @{
                        //string line;
                        foreach (var item in ViewBag.zu)
                        {
                        <p>@item</p>
                    }
                    }
                    </p>
                    <a href="http://www5.kb.dk/e-mat/dod/130020341018.pdf" target="_blank">Link til betænkning på det kongelige bibliotek</a>

                </div>
            </div>
            <div class="row" style="height:33%">
                <div class="column" style="width: 90%">
                    @*<img src="@("/img/zuslag.png")" alt="G.C.Oeder" class="center" style="width:70%">
                        <br />
                        <p>
                            @{
                                //string line;
                                foreach (var item in ViewBag.zu)
                                {
                                <p>@item</p>
                            }
                            }
                            </p>
                            <a href="http://www5.kb.dk/e-mat/dod/130020341018.pdf" target="_blank">Link til betænkning på det kongelige bibliotek</a>*@

                </div>
            </div>


        </div>
    </div>
<div class="row">
    <div class="column" text-align: center>
        <div class="row" style="height:25%">
            <div class="column" style="width:90%">
                <br />
                <img src="@("/img/Schack-Rathlou1.png")" alt="G.C.Oeder" class="center" style="width:50%">
                <br />
                <p>
                    @{
                        //string line;
                        foreach (var item in ViewBag.rat)
                        {
                        <p>@item</p>
                    }
                    }
                    </p>
                </div>
            </div>
            <div class="row" style="height:25%">
                <div class="column" style="width: 90%">
                    <img src="@("/img/struensee1.png")" alt="G.C.Oeder" class="center" style="width:50%">
                    <br />
                    <p>
                        @{
                            //string line;
                            foreach (var item in ViewBag.stru)
                            {
                            <p>@item</p>
                        }
                        }
                        </p>
                    </div>
                </div>
                <div class="row" style="height:25%">
                    <div class="column" style="width: 90%">
                        <img src="@("/img/julianemarie1.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                        <br />
                        <p>
                            @{
                                //string line;
                                foreach (var item in ViewBag.fv)
                                {
                                <p>@item</p>
                            }
                            }
                            </p>
                            <br />
                            <p>
                                @{
                                    //string line;
                                    foreach (var item in ViewBag.jm)
                                    {
                                    <p>@item</p>
                                }
                                }
                                </p>

                            </div>
                        </div>
                        <div class="row" style="height:25%">
                            <div class="column" style="width: 90%">
                                <img src="@("/img/apbernstorff.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                                <br />
                                <p>
                                    @{
                                        //string line;
                                        foreach (var item in ViewBag.apb)
                                        {
                                        <p>@item</p>
                                    }
                                    }
                                    </p>
                                </div>
                            </div>

                        </div>
    <div class="column">
    @{
        //string line;
        foreach (var item in ViewBag.del4)
        {
            <p>@item</p>
        }
    }

    </div>
    </div>
<div class="row">
    <div class="column">

    @{
        //string line;
        foreach (var item in ViewBag.del5)
        {
            <p>@item</p>
        }
    }
    </div>
    <div class="column" text-align: center>
        <div class="row" style="height:16%">
            <div class="column" style="width:90%">
                <img src="@("/img/halem1.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                <br />
                <p>
                    @{
                        //string line;
                        foreach (var item in ViewBag.halem)
                        {
                        <p>@item</p>
                    }
                    }
                    </p>
                    <br />
                </div>
            </div>
            <div class="row" style="height:16%">
                <div class="column" style="width: 90%">
                    <img src="@("/img/complex.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                    <br />
                    <p>
                        @{
                            //string line;
                            foreach (var item in ViewBag.wes)
                            {
                            <p>@item</p>
                        }
                        }
                        </p>
                        <br />
                        <a href="https://en.wikipedia.org/wiki/Complex_plane" target="_blank">Udtænkte the Complex Plane</a>
                    </div>
                </div>
                <div class="row" style="height:16%">
                    <div class="column" style="width: 90%">
                        <img src="@("/img/revetlow1.png")" alt="G.C.Oeder" class="center" style="width:50%">
                        <br />
                        <p>
                            @{
                                //string line;
                                foreach (var item in ViewBag.rev)
                                {
                                <p>@item</p>
                            }
                            }
                            </p>
                            <br />
                        </div>
                    </div>
                    <div class="row" style="height:16%">
                        <div class="column" style="width: 90%">
                            <img src="@("/img/Pedicularis oederi.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                            <br />
                            <p>
                                @{
                                    //string line;
                                    foreach (var item in ViewBag.urt)
                                    {
                                    <p>@item</p>
                                }
                                }
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="row" style="height:16%">
                            <div class="column" style="width: 90%">
                                <img src="@("/img/peter friedrich ludwig.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                                <br />
                                <p>
                                    @{
                                        //string line;
                                        foreach (var item in ViewBag.ludwig)
                                        {
                                        <p>@item</p>
                                    }
                                    }
                                    </p>
                                    <br />
                                </div>
                            </div>
                            <div class="row" style="height:16%">
                                <div class="column" style="width: 90%">
                                    <img src="@("/img/caroline.jpg")" alt="G.C.Oeder" class="center" style="width:50%">
                                    <br />
                                    <p>
                                        @{
                                            //string line;
                                            foreach (var item in ViewBag.cm)
                                            {
                                            <p>@item</p>
                                        }
                                        }
                                        </p>
                                        <br />
                                    </div>
                                </div>
                            </div>
</div>
<div class="row">
    <div class="column" text-align: center>
        <div class="row" style="height:15%">
            <div class="column" style="width:70%">
                @*<img src="@("/img/oedergrave.jpg")" alt="G.C.Oeder" class="center" style="width:70%">
                <br />
                <p>
                    Georg Christian Oeders gravsted, <br />Gertrudenkirchhof i Oldenburg.
                </p>*@
            </div>
        </div>
        <div class="row" style="height:33%">
            <div class="column" style="width: 70%">
                @*<img src="@("/img/wiedewelt1.png")" alt="G.C.Oeder" class="center">
                <br />
                <p>
                    @{
                        //string line;
                        foreach (var item in ViewBag.wiede)
                        {
                        <p>@item</p>
                    }
                    }
                    </p>*@
                </div>
            </div>
            <div class="row" style="height:33%">
                <div class="column" style="width: 70%">
                    <img src="@("/img/multebær.jpg")" alt="G.C.Oeder" class="center">
                    <br />
                    <p>
                        @{
                            //string line;
                            foreach (var item in ViewBag.mul)
                            {
                            <p>@item</p>
                        }
                        }
                        </p>
                    </div>
            </div>
            <div class="row" style="height:33%">
                <div class="column" style="width: 70%">
                    @*<img src="@("/img/jhebernstorff.png")" alt="G.C.Oeder" class="center">
                    <br />
                    <p>
                        @{
                            //string line;
                            foreach (var item in ViewBag.jhe)
                            {
                            <p>@item</p>
                        }
                        }*@
                        </p>
                    </div>
                </div>

            </div>
            <div class="column">
                @{
                    //string line;
                    foreach (var item in ViewBag.del6)
                    {
                        <p>@item</p>
                    }
                }

            </div>
        </div>
